---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Home from '../components/Home.astro';
---

<Layout title="Portfolio">
	<Header />
	<main class="px-2">
		<Home />
	</main>
</Layout>
