---
import Navbar from '../components/Navbar.astro';
import HamburgerIcon from '../components/icons/HamburgerIcon.astro';
---

<header class="px-2 py-8 text-white xl:py-12">
	<div class="container mx-auto flex items-center justify-between">
		<!-- logo -->
		<a href="#top">
			<h1 class="text-4xl font-semibold">
				Sergio<span class="text-accent">.</span>
			</h1>
		</a>

		<!-- desktop nav -->
		<div class="flex flex-row-reverse gap-8 lg:flex-row">
			<nav class="hidden items-center gap-8 lg:flex">
				<ul class="flex gap-8">
					<Navbar />
				</ul>
			</nav>

			<!-- mobile nav -->
			<nav class="dropdown dropdown-end items-center lg:hidden">
				<div tabindex="0" role="button" class="btn btn-accent p-2">
					<HamburgerIcon class="size-8" />
				</div>

				<ul
					tabindex="0"
					class="menu dropdown-content z-[1] mt-4 w-52 rounded-box bg-accent p-2 shadow"
				>
					<Navbar />
				</ul>
			</nav>

			<a href="#contacto">
				<div role="button" class="btn btn-accent">Contacto</div>
			</a>
		</div>
	</div>
</header>
