<div class="relative h-full w-full">
	<div class="h-[298px] w-[298px] mix-blend-lighten lg:h-[498px] lg:w-[498px]">
		<img
			src="/assets/foto.png"
			alt="foto"
			class="rounded-full object-contain"
		/>
	</div>
</div>
